@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    
}

:root {
    --primary-color: #303030;
    --secondary-color: #fff;
    --third-color: #ff6600;
}

:root {
    --font-size-small: 1rem;
    --font-size-medium: 24px;
    --font-size-large: 2.5rem;
}

body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 100;

    
}

.logo img {
    width: 120px;
    height: auto;
    margin-top: 10px;
}

.nav{
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;
    margin-left: 150px;
    margin-right: 150px;
    
}

.nav__brand {
    font-size: var(--font-size-medium);
}


.nav__list{
    display: flex;
    align-items: center;
    
}
.nav__item{
    margin-left: 28px;
    color: var(--primary-color);
    font-size: 1.2rem;
}



.nav__link i {
    color: var(--primary-color);
    font-size: 1.2rem; 
    transition: color 0.3s ease; 
}


.nav__link:hover i {
    color: #ff6600; 
}



.btn{
    margin-top: 1rem;
    width: 144px;
    height: 44px;
    padding: 10px, 10px, 10px, 10px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    font-size: var(--font-size-medium);
    border: none;
    cursor: pointer;
}

.btn:hover{
    opacity: 75%;
}
section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.main-home{
    width: 100%;
    height: 940px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

/* Adjust the clip-path for the circular background */
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--third-color);
    clip-path: circle(62.0% at 100% 84%);

}

.new__arrival{
    margin-left: 150px;
    margin-right: 150px;
}
.new-arrival-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    margin-top: 1rem; 
    border: none;
    border-top: 1px solid var(--primary-color); 
    width: 100%;
}

.main-title-text{
    line-height: 50px;
}
.main-title{
    padding: 1rem;
    margin-left: 150px;
    margin-right: 150px;
}

.title-sub{
    font-size: 24px;
}

.brand__title{
    font-size: 2rem;
    font-weight: 600;
}

.main-title img{
    position: absolute;
    top: 100px;
    left: 900px;

}


/* NEW ARRIVALS STYLING */


/* Product Grid Styles */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 350px; 
    row-gap: 36px;
    margin-top: 20px; 
}

.card {
    width: 280px;
    height: 480px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
}

.product-details {
    padding: 20px;
}

.color-options {
    display: flex;
    margin-bottom: 10px;
}

.color-options li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000; 
    font-size: 24px;
    cursor: pointer;
}

.gender {
    font-weight: bold;
    color: #303030; 
}

.product-name {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #303030;
}
.card img{
    width: 280px;
    height: 285px;
}
.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #ff6600; 
}

.rating {
    display: flex;
    align-items: center;
    color: #ff6600; 
}

.rating i {
    font-size: 16px;
    margin-right: 5px;
}


.card:hover {
    transform: translateY(-5px);
}
